.trend-title-box {
  margin: 30px 80px;
  display: flex;
  align-items: center;
}

.trend-icon {
  height: 30px;
  width: 30px;
}

.trend-title {
  font-weight: 700;
  font-size: 22px;
  margin-left: 10px;
}
