.cart {
    height: 100px;
    width: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: #dfe6e9;
}

.cart img {
    width: 80%;
    margin: auto;
}