$color-green: #2ecc71;

.navbar {
  margin: 20px 80px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  margin-left: 20px;
  font-weight: 900;
}

.menu-icon {
  height: 24px;
  width: 24px;
}

.input-div {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 100px;
  background-color: #ecf0f1;
  height: 35px;
  width: 600px;
}

.search-bar {
  position: relative;
  margin: auto;
  color: #2c3e50;
  border: 0;
  border-radius: 100px;
  background-color: #ecf0f1;
  height: 30px;
  width: 550px;
}

input[type="search"].search-bar::placeholder {
  font-style: italic;
  font-weight: 600;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  position: relative;
  height: 32px;
  width: 32px;
  border-radius: 100px;
}

.profile-name {
  position: relative;
  right: 12px;
}

.drop {
  position: relative;
  right: 20px;
  height: 12px;
  width: 12px;
}
