$color-green: #2ecc71;

.navbar {
  margin: auto 50px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  display: flex;
}

.logo {
  margin-left: 20px;
  font-weight: 700;
}

.menu-button {
  height: 20px;
  width: 20px;
  background-color: $color-green;
}

.search-bar {
  border: 0;
  border-radius: 100px;
  background-color: #ecf0f1;
  height: 30px;
  width: 500px;

  &::before {
    content: "";
    position: absolute;
    height: 35px;
    width: 550px;
    background-color: #ecf0f1;
  }
}

input[type="text"].search-bar::placeholder {
  position: absolute;
  right: 30px;
  font-style: italic;
}

.profile {
  display: flex;
  align-items: center;
}

.profile-pic {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 100px;
}

.profile-name {
  position: relative;
  right: 12px;
}
